
.desc{
  font-style: italic;
  color:grey;
  font-size: 14px;
  
}

.title{
  font-weight: 800;
  font-size: 18px;
  margin-top:0.375rem;
}

.cost{
  color: #ff6f31;
  font-weight: 700;
  font-size:18px;
  margin-top:0.275rem;
}

.badge{
  outline: none;
  border: none;
  background-color: #ff6f31;
  width: 28px;
  border-radius: 0.375rem;
  height:30px;
  color:white;
  font-weight: 100;
}

.badge:disabled{
  background-color: lightgray; 
}

.item-count{
  min-width: 25px;
  text-align: center;
}

.cart-count{
  background: #ff6f31;
  font-style: italic;
  height: 25px;
  width: 25px;
  border-radius: 0.375rem;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color:white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.items-total{
  outline: none;
  border: none;
  border-radius: 0.37rem;
  height:35px;
  color:white;
  background-color: #383838;
  margin-top:5px;
  min-width:65px;
  font-size: 15px;
}

.add-item{
  position: absolute;
  top: 64%;
  min-width: 103px;
  outline: none;
  border: none;
  border-radius: 0.1rem;
  height: 35px;
  font-weight:bolder;
  /* padding: 12px; */
  margin-top: 1rem;
  background-color: rgb(255, 255, 255);
  color: white;
  font-size: 13px;
  left: 16%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  background-color: #ff650c;
  border-radius: 0.35rem;

}



hr{
  background-color:rgb(194, 191, 191);
  width: 98%;
  opacity: 0.7;
  height:0.5px;
  border: none;
}

.zoom-effect-container {
  /* float: left; */
  /* position: relative; */
  position: relative;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
}

.image-card {
text-align: center;
margin: 0 auto;
border-radius:0.375rem;
}

.image-card img {
-webkit-transition: 0.4s ease;
transition: 0.4s ease;
width:130px;
height:130px;
object-fit:cover;
/* border-radius:0.375rem; */
}

.zoom-effect-container:hover .image-card img {
-webkit-transform: scale(1.08);
transform: scale(1.08);
}


.left-to-right {
  animation: linear;
  -webkit-animation: linear;
  animation-name: run;
  -webkit-animation-name: run;
  animation-duration: 2s;
  -webkit-animation-duration: 2s;
}
@keyframes run {
  0% {
    left: 0;
  }
  50% {
    left: 10%;
  }
  100% {
    left: 20%;    
  }
}